# compiled output
/dist
/target

# dependencies

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/
/*.iml

# misc
*.log
client_secret.json
StoredCredential
hs_err_pid*

#System Files
.DS_Store
Thumbs.db
